<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="c" class="com.constructorBased.CustomObject.Car">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="audi"></constructor-arg>
		<constructor-arg ref="d"></constructor-arg>
	</bean>

	<bean id="d" class="com.constructorBased.CustomObject.Driver">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="abcd"></constructor-arg>

	</bean>
</beans>